* {
    font-family: 'Courier New';
    font-weight: bold;
    color: bisque;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2A7B9B;
    background: linear-gradient(0deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 188, 1) 52%, rgba(16, 29, 176, 1) 100%);
}

.css-center-div {
    /* background-color: aqua; */
    /* width: 100%; */
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

.css-game-screen {
    display: flex;
    flex-direction: row;
}

.css-game-screen div {
    margin: 10px;
    /* background-color: aqua; */
}

.css-panel-left,
.css-panel-right {
    width: 20vw
}

.css-board {
    /* min-width: 60vw; */
    height: 80vh;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    background-color: white;
}

.css-board button {
    box-sizing: border-box;
    aspect-ratio: 1 /1;
    /* width: 100%; */
    cursor: pointer;
    background-color: rgb(50, 50, 50);
    border-width: 5px;
}

.css-options-btn,
.css-start-game-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    border-width: 5px;
    cursor: pointer;

}


button:hover {
    border-color: yellow;
    background-color: bisque;
    color: rgb(25, 25, 25);
}